@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";string[] names = new string[] { "Bob", "Joe", "Steve", "Janet", "Helen" };
}

<div class="text-center">
    <h1 class="display-4">Welcome Discord Bot Web</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
